<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div>
                <a class="navbar-brand" href="https://github.com/justinclarkhome/UdacityDataScienceProject4">Udacity DSND Project 4: Dog Breed Classification</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="https://www.linkedin.com/in/justin-clark-4574164/">Justin's LinkedIn</a></li>
                    <li><a href="https://github.com/justinclarkhome">Justin's GitHub</a></li>
                </ul>
            </div>
        </div>
    </nav>
        
    <div class="jumbotron">
        <!-- <h1 class="display-4">Hello, world!</h1> -->
        <p class="lead">This interface allows you to upload an image file, and the model will attempt to detect dogs and humans,
            and use a model to predict the breed that the dog - or person - most resembles.</p>
        <hr class="my-4">

        <h1 class="text-center">Upload an Image!</h1>
        <h3 class="text-center">Examples Can Be Found in <b>downloaded_test_images</b> Folder.</h3>
        <form action="/upload" method="post" enctype="multipart/form-data" class="mt-4">
            <div class="form-group">
                <input type="file" class="form-control-file" name="file">
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
        {% if filename %}
            <div class="mt-5">
                <p>{{ image_info }}</p>
                <div id="plotly-graph">
                    {{ plot_html | safe }}
                </div>
            </div>
        {% endif %}
    </div>

</body>
</html>
